/* line 1, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 7, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.row:before,
.row:after {
  display: table;
  content: " ";
}

/* line 12, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.row:after {
  clear: both;
}

/* line 17, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.row:before,
.row:after {
  display: table;
  content: " ";
}

/* line 22, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.row:after {
  clear: both;
}

/* line 73, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 91, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

/* line 95, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-12 {
  width: 100%;
}

/* line 99, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-11 {
  width: 91.66666666666666%;
}

/* line 103, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-10 {
  width: 83.33333333333334%;
}

/* line 107, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-9 {
  width: 75%;
}

/* line 111, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-8 {
  width: 66.66666666666666%;
}

/* line 115, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-7 {
  width: 58.333333333333336%;
}

/* line 119, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-6 {
  width: 50%;
}

/* line 123, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-5 {
  width: 41.66666666666667%;
}

/* line 127, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-4 {
  width: 33.33333333333333%;
}

/* line 131, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-3 {
  width: 25%;
}

/* line 135, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-2 {
  width: 16.666666666666664%;
}

/* line 139, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-1 {
  width: 8.333333333333332%;
}

/* line 143, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 147, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-11 {
  right: 91.66666666666666%;
}

/* line 151, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-10 {
  right: 83.33333333333334%;
}

/* line 155, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 159, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-8 {
  right: 66.66666666666666%;
}

/* line 163, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-7 {
  right: 58.333333333333336%;
}

/* line 167, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 171, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-5 {
  right: 41.66666666666667%;
}

/* line 175, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-4 {
  right: 33.33333333333333%;
}

/* line 179, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 183, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-2 {
  right: 16.666666666666664%;
}

/* line 187, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-1 {
  right: 8.333333333333332%;
}

/* line 191, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-pull-0 {
  right: 0;
}

/* line 195, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 199, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-11 {
  left: 91.66666666666666%;
}

/* line 203, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-10 {
  left: 83.33333333333334%;
}

/* line 207, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 211, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-8 {
  left: 66.66666666666666%;
}

/* line 215, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-7 {
  left: 58.333333333333336%;
}

/* line 219, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 223, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-5 {
  left: 41.66666666666667%;
}

/* line 227, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-4 {
  left: 33.33333333333333%;
}

/* line 231, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 235, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-2 {
  left: 16.666666666666664%;
}

/* line 239, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-1 {
  left: 8.333333333333332%;
}

/* line 243, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-push-0 {
  left: 0;
}

/* line 247, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 251, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-11 {
  margin-left: 91.66666666666666%;
}

/* line 255, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}

/* line 259, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 263, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-8 {
  margin-left: 66.66666666666666%;
}

/* line 267, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}

/* line 271, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 275, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}

/* line 279, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333333333%;
}

/* line 283, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 287, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}

/* line 291, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-1 {
  margin-left: 8.333333333333332%;
}

/* line 295, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 311, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  /* line 314, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 317, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-11 {
    width: 91.66666666666666%;
  }

  /* line 320, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-10 {
    width: 83.33333333333334%;
  }

  /* line 323, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 326, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-8 {
    width: 66.66666666666666%;
  }

  /* line 329, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-7 {
    width: 58.333333333333336%;
  }

  /* line 332, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 335, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-5 {
    width: 41.66666666666667%;
  }

  /* line 338, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-4 {
    width: 33.33333333333333%;
  }

  /* line 341, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 344, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-2 {
    width: 16.666666666666664%;
  }

  /* line 347, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-1 {
    width: 8.333333333333332%;
  }

  /* line 350, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 353, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 356, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 359, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 362, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 365, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 368, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 371, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 374, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 377, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 380, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 383, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 386, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-pull-0 {
    right: 0;
  }

  /* line 389, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 392, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }

  /* line 395, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }

  /* line 398, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 401, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }

  /* line 404, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }

  /* line 407, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 410, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }

  /* line 413, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }

  /* line 416, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 419, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }

  /* line 422, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }

  /* line 425, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-push-0 {
    left: 0;
  }

  /* line 428, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 431, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }

  /* line 434, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 437, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 440, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 443, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 446, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 449, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 452, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 455, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 458, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 461, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 464, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 481, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  /* line 484, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 487, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-11 {
    width: 91.66666666666666%;
  }

  /* line 490, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-10 {
    width: 83.33333333333334%;
  }

  /* line 493, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 496, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-8 {
    width: 66.66666666666666%;
  }

  /* line 499, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-7 {
    width: 58.333333333333336%;
  }

  /* line 502, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 505, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-5 {
    width: 41.66666666666667%;
  }

  /* line 508, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-4 {
    width: 33.33333333333333%;
  }

  /* line 511, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 514, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-2 {
    width: 16.666666666666664%;
  }

  /* line 517, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-1 {
    width: 8.333333333333332%;
  }

  /* line 520, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 523, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 526, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 529, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 532, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 535, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 538, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 541, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 544, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 547, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 550, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 553, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 556, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-pull-0 {
    right: 0;
  }

  /* line 559, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 562, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-11 {
    left: 91.66666666666666%;
  }

  /* line 565, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-10 {
    left: 83.33333333333334%;
  }

  /* line 568, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 571, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-8 {
    left: 66.66666666666666%;
  }

  /* line 574, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-7 {
    left: 58.333333333333336%;
  }

  /* line 577, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 580, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-5 {
    left: 41.66666666666667%;
  }

  /* line 583, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-4 {
    left: 33.33333333333333%;
  }

  /* line 586, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 589, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-2 {
    left: 16.666666666666664%;
  }

  /* line 592, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-1 {
    left: 8.333333333333332%;
  }

  /* line 595, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-push-0 {
    left: 0;
  }

  /* line 598, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 601, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }

  /* line 604, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 607, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 610, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 613, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 616, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 619, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 622, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 625, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 628, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 631, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 634, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  /* line 651, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  /* line 654, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 657, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-11 {
    width: 91.66666666666666%;
  }

  /* line 660, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-10 {
    width: 83.33333333333334%;
  }

  /* line 663, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 666, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-8 {
    width: 66.66666666666666%;
  }

  /* line 669, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-7 {
    width: 58.333333333333336%;
  }

  /* line 672, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 675, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-5 {
    width: 41.66666666666667%;
  }

  /* line 678, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-4 {
    width: 33.33333333333333%;
  }

  /* line 681, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 684, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-2 {
    width: 16.666666666666664%;
  }

  /* line 687, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-1 {
    width: 8.333333333333332%;
  }

  /* line 690, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 693, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 696, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 699, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 702, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 705, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 708, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 711, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 714, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 717, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 720, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 723, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 726, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-pull-0 {
    right: 0;
  }

  /* line 729, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 732, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }

  /* line 735, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }

  /* line 738, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 741, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }

  /* line 744, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }

  /* line 747, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 750, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }

  /* line 753, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }

  /* line 756, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 759, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }

  /* line 762, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }

  /* line 765, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-push-0 {
    left: 0;
  }

  /* line 768, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 771, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }

  /* line 774, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 777, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 780, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 783, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 786, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 789, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 792, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 795, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 798, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 801, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 804, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/bootstrap.css.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/* line 53, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.teal {
  color: #16808a;
}
/* line 55, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.teal.dark {
  color: black;
}

/* line 60, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.turquoise {
  color: #1b8c72;
}
/* line 62, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.turquoise.dark {
  color: black;
}

/* line 67, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.white {
  color: white;
}
/* line 69, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.white.dark {
  color: #cccccc;
}

/* line 74, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.totals-bar-main-color {
  color: #ffd200;
}

/* line 78, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.budget-child-1, .budget-child-2 {
  color: white;
}
/* line 80, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.budget-child-1 a, .budget-child-1 a:visited, .budget-child-2 a, .budget-child-2 a:visited {
  color: white;
}
/* line 1, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/layout.css.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #696969;
  color: white;
}
/* line 53, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.teal {
  color: #16808a;
}
/* line 55, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.teal.dark {
  color: black;
}

/* line 60, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.turquoise {
  color: #1b8c72;
}
/* line 62, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.turquoise.dark {
  color: black;
}

/* line 67, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.white {
  color: white;
}
/* line 69, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.white.dark {
  color: #cccccc;
}

/* line 74, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.totals-bar-main-color {
  color: #ffd200;
}

/* line 78, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.budget-child-1, .budget-child-2 {
  color: white;
}
/* line 80, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/colors.css.scss */
.budget-child-1 a, .budget-child-1 a:visited, .budget-child-2 a, .budget-child-2 a:visited {
  color: white;
}

/* line 12, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container {
  position: relative;
}

/* line 16, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.angular-leaflet-map {
  min-width: 300px;
  min-height: 400px;
}

/* line 23, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.no_location_data_message {
  background: white;
  padding: 4px 8px;
  overflow: hidden;
  border: 2px solid #394b68;
  border-radius: 10px;
}
/* line 29, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.no_location_data_message p {
  white-space: pre-line;
}

/* line 34, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.map-popup {
  position: absolute;
  display: none;
  background: black;
  color: white;
  padding: 10px;
  z-index: 9999999999;
}
/* line 41, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.map-popup.markers {
  background: none;
  width: 300px;
  margin: 0;
  padding: 0;
}
/* line 49, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.map-popup .map-popup-currency {
  margin-left: 50px;
}

/* line 56, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.popup-title, .dark-map .leaflet-popup-content-wrapper .leaflet-popup-content .popup.title, .dark-map .leaflet-popup-content-wrapper .leaflet-popup-content .popup.currency {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 15px;
  font-weight: bold;
}

/* line 63, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.custom-pointer {
  position: absolute;
  bottom: -8px;
  left: 46%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: none;
  border-top-color: black;
  opacity: 0.82;
}

/* line 80, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-tip {
  border-top-color: black;
  opacity: 0.82;
}
/* line 84, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-tip-container {
  height: 0;
}
/* line 89, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-content-wrapper {
  font-size: 12px;
  line-height: 1.2em;
  background-color: black;
  opacity: 0.82;
}
/* line 95, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-content-wrapper .leaflet-popup-content {
  background-color: black;
  color: white;
  margin: 1em;
}
/* line 100, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-content-wrapper .leaflet-popup-content .popup.title {
  width: 74%;
}
/* line 105, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-content-wrapper .leaflet-popup-content .popup.currency {
  width: 26%;
  text-align: right;
}
/* line 111, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-content-wrapper .leaflet-popup-content .popup.description {
  overflow: hidden;
  height: 4.8em;
}
/* line 118, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.dark-map .leaflet-popup-close-button {
  display: none;
}

/* line 128, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-default .leaflet-popup-content-wrapper {
  width: 200px;
}

/* line 137, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .angular-leaflet-map {
  height: 93%;
  max-width: 75%;
}
/* line 142, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .leaflet-clickable {
  cursor: inherit;
}
/* line 146, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .right-pane {
  position: absolute;
  top: 0;
  left: 75%;
  width: 25%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  max-width: 300px;
  min-width: 100px;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1000px) {
  /* line 162, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
  .choropleth-map-container .angular-leaflet-map {
    width: 60%;
  }
  /* line 165, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
  .choropleth-map-container .right-pane {
    width: 40%;
    max-width: 40%;
    left: 60%;
  }
}
/* line 172, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .map-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 177, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .disclaimer-message {
  background: #334562;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 20px;
  max-height: 40%;
}
/* line 184, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .legend {
  display: inline-block;
  line-height: 22px;
  color: white;
}
/* line 188, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .legend .legendKey {
  display: inline-block;
  border: 2px solid #111;
  border-radius: 0.4em;
  height: 1.2em;
  width: 1.2em;
}
/* line 195, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.choropleth-map-container .legend .legendText {
  margin-left: 1em;
  position: relative;
  top: -0.35em;
}

/* line 203, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.details-full-size .expense-category-map {
  width: 78%;
}

/* line 209, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.expense-category-map {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 20%;
  margin-right: 5px;
  height: 93%;
}
/* line 218, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.expense-category-map .leaflet-popup-content-wrapper {
  width: 300px;
}

/* line 222, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.projects-map-legend {
  width: 20%;
  float: right;
}
/* line 223, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.projects-map-legend .legend-circles {
  border: solid 2px greenyellow;
  opacity: 0.7;
  background-color: green;
  margin: 0 auto;
}
/* line 233, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.projects-map-legend .legend-table {
  width: 100%;
  padding-left: 0;
}
/* line 237, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.projects-map-legend .legend-table td {
  vertical-align: bottom;
  text-align: center;
}
/* line 241, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.projects-map-legend .legend-table td > div:last-child {
  padding-top: 4px;
}
/* line 247, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.projects-map-legend .legend-message {
  background: #334562;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  margin-left: 0;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
}

/* line 257, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.circle {
  border-radius: 50%;
}

/* line 261, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.map-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}

/* line 269, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.angular-leaflet-map .leaflet-bar {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
/* line 273, /Users/nsarwate/workspace/hackathon/graph-api/app/assets/stylesheets/map.css.scss */
.angular-leaflet-map .leaflet-bar a {
  background-color: rgba(255, 255, 255, 0.99);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

