<div class="row">
	<div class="top-text col-md-12">
		<p class="lead text-center">
			Students need a safe and stable home in order to learn. Think there are no homeless students in your district? Think again.

			<br><br>
			<small>Sources: Office of Superintendent of Public Instruction</small>

		</p>
	</div>
</div>

<div class="row">
	<div class="master-visualization col-md-12">
		<!-- Master Vis goes here -->
	</div>
</div>


<div class="row">
	<div class="map col-md-6" ng-controller="MapCtrl">
		<choropleth class="details-full-size"
                      data="choroplethData"
                      message="message"
                      disclaimer-message="pageTitle | mapDisclaimerFromPageTitle"
                      map-title="defaultChoroplethTitle"></choropleth>
	</div>
	<div class="map col-md-6">
		<h2>{{districtName}}</h2>
		<h5>Homeless Students in {{districtName}} over the Years</h5>
		<line-chart></line-chart>
	</div>
</div>

<div class="row">
	<div class="footer col-md-12">
		Footer goes here
	</div>
</div>