<div id="map-container" ng-controller="MapCtrl">
<map></map>
<choropleth class="details-full-size"
                      data="choroplethData"
                      disclaimer-message="pageTitle | mapDisclaimerFromPageTitle"
                      map-title="defaultChoroplethTitle"></choropleth>
</div>
