<!-- intro text -->
<div class="row">
	<div class="header-text col-md-12">
		<h1 class="text-center">Homelessness in Washington</h1>
		<p class="lead text-center padded">
			This is the story of homelessness and affordable housing in Washington State
		</p>
	</div>
</div>

<!-- lead in buttons -->
<div class="row">
	<div class="lead-in col-md-12">
		<p class="lead text-center">
			Learn about homelessness in your
		</p>
		<div class="text-center">
			<ul class="buttons text-center clearfix">
				<li><a class="toggle" href="#state">State</a></li>
				<li><a class="toggle" href="#county">County</a></li>
				<li><a class="toggle" href="#legislative">Legislative District</a></li>
				<li><a class="toggle" href="#schools">School District</a></li>
			</ul>
		</div>
	</div>
</div>

<div ng-view=""></div>